@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Final Project
   
   Author: Vaibhavi Garibnavajwala
   Date:  05/04/2021
   
   Filename: phone.css
   
   This file contains the layout styles used in the My Online Meal
   home page.

*/

/*Navigation Styles*/
#navbar{
	flex-direction:column;
}
#navbar ul li a{
	font-size:1rem;
	padding:0px 7px;
}
/*Home Styles*/
#home{
	height:338px;
	padding:3px 68px;
}
#home::before{
		
		height:445px;
}
#home p{
	font-size:13px;
}
/*Services Styles*/
#services{
	flex-direction:column;
		

}
#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}
#services .box img{ 
    height: 149px;
}

/*Contact Styles*/
#contact-box form{
	
    width:80%;
}


.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
.btn2{
	margin: 15px 70px;
	
	width:45%;
}