@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Final Project
   
   Author: Vaibhavi Garibnavajwala
   Date:  05/04/2021
   
   Filename: style.css
   
   This file contains the layout styles used in the My Online Meal
   home page.


*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap');

*{
	margin:0;
	padding:0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height: 59px;
}
#image{
	border-radius:50%;
	width: 59px;
    height: 63px;
}
#logo {
	margin: 10px 33px;
}
/*Navigation bar Styles*/
#navbar{
	display:flex;
	top:0px;
	align-items:center;
	position:sticky;
	z-index:+2;
}
#navbar ul{
	display:flex;
	font-family: 'Baloo Bhai', cursive;
}
#navbar::before{
	content:"";
	background-color:black;
	position:absolute;
	top:0px;
	left:0px;
	opacity:0.4;
	height:100%;
	width:100%;
	z-index: -1;
}
#navbar ul li{
	list-style:none;
	font-size:1.3rem;
	
}
#navbar ul li a{
	display:block;
	color:white;
	text-decoration:none;
	border-radius:20px;
	padding:3px 22px;
	transition: 0.4s all ease;
}
#navbar ul li a:hover{
	background-color:white;
	color:black;
}
/*Home Styles*/
#home{
	display:flex;
	flex-direction:column;
	padding:3px 200px;
	justify-content:center;
	align-items:center;
	height: 357px;
}
#home::before{
	content:"";
	background:url('backg.jpg');
	position:absolute;
	opacity:0.89;
	top:0px;
	left:0px;
	height: 419px;
	width:100%;
	z-index: -1;
}
#home h1{
	text-align:center;
	color:white;
	font-family: 'Bree Serif', serif;
}
#home p{
	text-align:center;
	color:white;
	font-size:1.5rem;
	font-family: 'Bree Serif', serif;
}
/*Services Styles*/
#services{
	margin:19px;
	display:flex;
}
#services .box{
	border:2px solid brown;
	border-radius:28px;
	 padding: 34px;
    margin: 2px 26px;
	background-color: #f5eff0;
	margin-bottom:20px;
	transition: 0.3s;
}
#services .box:hover{
	box-shadow: -1px 0px 37px black;
}

#services .box img{
	height:175px;
	display:block;
	margin:auto;
	border-radius:33px;
	
}
#services .box p{
    font-family: 'Bree Serif', serif;
	font-size:1rem;
} 

/*Contacts Styles*/
#contact{
	position:relative;

}
#contact::before{
	content:"";
	background-image:url("back4.jpg");
	z-index:-1;
	height:100%;
	width:100%;
	opacity:0.7;
	position:absolute;
}
#contact input,textarea{
	width:95%;
	padding:13px;
	font-size: 1rem;
    border: none;
	border-radius:9px;
	font-family:'Bree Serif', serif;
}
#contact form{
	width:40%;
	
}
#contact label{
	font-size:1.3rem;
	font-family:'Bree Serif', serif;
}
#contact-box{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:34px;
	
}
footer{
	background-color:#aaa;
	text-align:center;
	padding:3px 20px;
}

/*Utility Styles*/
.h-primary{
	font-family: 'Bree Serif', serif;
	font-size:2.8rem;
	padding:12px;
}
.h-secondary{
	font-family: 'Bree Serif', serif;
	font-size:1.8rem;
	padding:12px;
}
.btn{
	padding:6px 20px;
	color:white;
	background-color:brown;
	border:2px solid white;
	margin:17px;
	border-radius:10px;
	cursor:pointer;
}
.btn:hover{
	background-color:#700;
}
.center{
	text-align:center;
}
.btn2{
	padding:6px 20px;
	
	border:none;
	transition: 0.3s ease-in-out;
	margin:15px 135px;
	border-radius:10px;
	cursor:pointer;
	width:50%;
	;
}
.btn2:hover{
	background-color:#ae2c1d;
}



.primary_btn:hover{
	background-position: right center!important;
color: #fff!important;
}
p,h3,h4,h5{
	margin-bottom: .5rem;
}
h3{
	margin-bottom: 1rem;
}